<!-- howdy/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
    </head>
    <body>
        Welcome to home page!<br/>
        <a href="/add_to_database.html">Add something to database</a><br>
        <a href="/manage_employees.html">Manage employees</a><br>
        <a href="/manage_expenditures.html">Manage expenditures</a><br>
        <a href="/manage_incomes.html">Manage incomes</a><br>

        {% for employee in employees %}
            {{ employee.pesel }} &mdash; {{ employee.first_name }}<br/>
        {% endfor %}
    </body>
</html>
