<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add to database</title>
    </head>
    <body>
        {{ "NEW EMPLOYEE:" }}
        <form action="/add_to_database.html" method="POST">
            {% csrf_token %}
            First name:<br>
            <input name="name_e" type="text" placeholder="Type first name"/><br>
            Last name:<br>
            <input name="last_name_e" type="text" placeholder="Type last name"/><br>
            Pesel:<br>
            <input name="pesel_e" type="text" placeholder="Type pesel"/><br>
            Salary:<br>
            <input name="salary_e" type="number" placeholder="Type salary"/><br>
            Position:<br>
            <input name="position_e" type="text" placeholder="Type position"/><br>
            <input type="submit"/><br>
        </form>
        {{ "NEW INCOME:" }}
        <form action="/add_to_database.html" method="POST">
            {% csrf_token %}
            From:<br>
            <input name="name_i" type="text" placeholder="Type name"/><br>
            Sum:<br>
            <input name="sum_i" type="number" placeholder="Type sum"/><br>
            Date:<br>
            <input name="date_i" type="date" placeholder="Type date"/><br>
            <input type="submit"/>
        </form>
        {{ "NEW EXPENDITURE:" }}
        <form action="/add_to_database.html" method="POST">
            {% csrf_token %}
            To:<br>
            <input name="name_o" type="text" placeholder="Type name"/><br>
            Sum:<br>
            <input name="sum_o" type="number" placeholder="Type sum"/><br>
            Date:<br>
            <input name="date_o" type="date" placeholder="Type date"/><br>
            <input type="submit"/><br>
        </form>
        <a href="/">Back</a>
    </body>
</html>
