<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Manage incomes</title>
    </head>
    <body>
        NEW INCOME:
        <form action="/manage_incomes.html" method="POST">
            {% csrf_token %}
            From:<br>
            <input name="name_i" type="text" placeholder="Type name"/><br>
            Sum:<br>
            <input name="sum_i" type="number" placeholder="Type sum"/><br>
            Date:<br>
            <input name="date_i" type="date" placeholder="Type date"/><br>
            <input type="submit"/>
        </form>
        SEARCH FOR INCOME BY NAME:
        <form action="/search_incomes.html" method="POST">
            {% csrf_token %}
            Name:<br>
            <input name="name" type="text" placeholder="Type name"/><br>
            <input type="submit"/><br>
        </form>
        SEARCH FOR INCOME BY DATE:
        <form action="/search_incomes.html" method="POST">
            {% csrf_token %}
            Date:<br>
            <input name="date" type="date" placeholder="Type date"/><br>
            <input type="submit"/><br>
        </form>
        <a href="/see_all_incomes.html">See all incomes</a><br>
        <a href="/">Back</a><br>
        LAST 10 INCOMES:<br>
        {% for income in incomes %}
            date: {{ income.date }} | name: {{ income.name }} | sum: {{ income.sum }}  <br/>
        {% endfor %}
        SUM OF INCOMES FOR LAST 7 DAYS:<br>
        {{ sum_week.sum__sum }}<br>
        SUM OF INCOMES FOR LAST 30 DAYS:<br>
        {{ sum_month.sum__sum }}<br>
        SUM OF ALL INCOMES:<br>
        {{ sum.sum__sum }}<br>
    </body>
</html>
